
html{
    background-color: #485C6A;
}

h1{
    text-align: center;
    background-color: #f2f2f2;
    color: black;
}

h2{
    height: 25px;
    width: 1000px;
    background-color: #61291C;
    margin: 50px auto 10px auto;
    padding-left: 5px;
}

h3{
    background-color: #F6ECE0
    padding-left: 5px;
}

.git{
    height: auto;
    width: 1000px;
    margin: 20px auto;
    background-color: white;
    line-height: 25px;
    border: 1px solid black;
}

p,
h3 {
margin: 0px auto;
width: 1000px;
}

thead{
    background-color:#313639;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    text-align: left;

}
tbody{
    background-color: white;
    text-align: left;
    font-size: 16px;
    color: black;
    border: 1px solid black;
}

.table{
        margin: 0px auto 20px auto;
        width: 1000px;
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 2px;
        line-height: 25px;

}

tr{
    border: 1px solid black;

}

td{
    padding-left: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }